@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");



@font-face {
  font-family: DM Mono;
  src: local("DM Mono"), url(/westore/satoshi/font/DMMono-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: DM Mono;
  src: local("DM Mono"), url(/westore/satoshi/font/DMMono-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}



body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: DM Mono, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  color: #f7f7f7;
  background: #110f16;
  overflow-x: hidden; 
}

/* #5142FC */

.header {
  padding: 12px 15px;
  
}

.header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 15px 30px;
  background-color: #44403c3d
  
}

.navbar .navbar-logo a {
  text-decoration: none;
  display: flex;
}

.navbar .navbar-logo a img {
  width: 42px;
}


.navbar .navbar-btn {
  margin: auto 0;
}

.navbar .navbar-btn .btn {
  background: #e78d24;
  border: none;
  font-size: 16px;
  text-align: center;
  color: #0e0700;
  font-weight: 600;
  border-radius: 1px;
  padding: 12px 40px;
  box-shadow: 6px 6px #00000052
}


.navbar .navbar-btn .btn .fa-solid {
  padding-right: 5px;
}


/* wallet page styles */
.wallet-container {
  margin-top: 5%;
  padding: 10px 10px 100px;
}

.wallet-container .container-header {
  text-align: center;
  margin-bottom: 25px;
}

.container-header .w-p-1 {
  font-size: 30px;
  font-weight: 700;
}

.wallet-section {
  margin-top: 30px;
}

.wallet-section .row {
  display: flex;
  flex-wrap: wrap;
}

.wallet-section .col-lg-3 {
  display: flex;
  padding: 10px 15px;
}

.wallet-section .wallet-box {
  border-radius: 10px;
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
}

.wallet-box .wallet-img {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  overflow: hidden;
}

.wallet-box .wallet-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wallet-box .wallet-content {
  margin: auto 0;
  padding-left: 10px;
}

.wallet-box .wallet-content .w-p-2 {
  margin-bottom: 8px;
  font-size: 16px;
  color: #f6f6f9;
  font-weight: 600;
}

.wallet-box .wallet-content .w-p-3 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  color: #b2b3c7;
}

/* modal content styles */
.close-header {
  text-align: end;
  padding: 10px;
}

.close-header .btn {
  color: #f7f7f7;
  padding: 0;
  border: none;
  box-shadow: none;
}

.close-header .btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.close-header .btn .fa-solid {
  font-size: 18px;
}

.modal-section .modal-top {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-section .modal-top .modal-img {
  width: 55px;
  height: 55px;
  background: #3c3d50;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.modal-section .modal-top .modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-section .modal-top .header-content .m-p-1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.modal-section .modal-top .header-content .m-p-2 {
  font-size: 15px;
  color: #d6d6e1;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.modal-section .modal-bottom {
  text-align: center;
  margin-top: 20px;
}

.modal-section .modal-bottom .m-b-p {
  font-size: 15px;
  color: #888ba8;
  font-weight: 600;
  line-height: 22px;
  padding-top: 0;
  margin-bottom: 0;
}

.modal-section .modal-bottom .m-b-p img {
  width: 25px;
  margin-right: 6px;
}

.modal-main .modal-load {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: #5142fc;
  width: 80%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(53, 53, 69, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1.5s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.modal-load p {
  margin: 0;
  padding: 0;
}

.modal-load .l-p-1 {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 600;
}

.modal-load .l-p-2 {
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  color: #b2b3c7;
}

.modal-main .modal-error {
  padding: 10px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modal-error .btn {
  width: 100%;
}

.modal-error .btn-outline-danger {
  padding: 7px 5px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 35px;
  border-radius: 5px;
}

.modal-error .btn-outline-danger:hover {
  background: transparent;
  color: #d33342;
}

.modal-error .action-btn .btn {
  width: 100%;
  border-radius: 1px;
  padding: 10px 30px;
  color: #0e0700;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
}

.modal-error .btn-outline-secondary {
  margin-bottom: 20px;
  border: 1px solid #45465f;
  color: #f6f6f9 !important;
}

.modal-error .btn-outline-secondary:hover {
  background: #45465f;
  color: #f7f7f7;
}

.modal-error .btn-primary {
  border: 1px solid #e78d24;
  background: #e78d24;
}

.modal-error .btn-primary:hover {
  border: 1px solid #fd7f00;
  background: #fd7f00;
}

.modal-main .modal-connect {
  padding: 10px 0 10px;
}

.modal-connect .form-group textarea {
  font-size: 14px;
  font-weight: 500;
  color: #ededf1;
  background: #110f16;
  width: 100%;
  border: 1px solid #44403c;
  border-radius: 6px;
}

.modal-connect .form-group textarea:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #44403c;
}

.modal-connect .form-group textarea.error {
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.2em #d33342;
  border: 1px solid #d33342;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}

.modal-connect .form-btn {
  margin-top: 15px;
}

.modal-connect .form-btn .btn {
  border: 1px solid #e78d24;
  background: #e78d24;
  width: 100%;
  color: #0e0700;
  border-radius: 1px;
  padding: 10px 30px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 14px;
}

.modal-connect .form-btn .btn:hover {
  border: 1px solid #fd7f00;
  background: #fd7f00;
}

.modal-qr {
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-qr .qr-img {
  width: 160px;
  height: 160px;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  background: #f6f6f9;
}

.modal-qr .qr-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-qr .qr-text {
  text-align: center;
  margin-top: 20px;
}

.modal-qr .qr-text p {
  font-size: 17px;
  font-weight: 400;
}

.modal-qr .qr-text p .p-code {
  font-weight: 700;
  font-size: 18px;
}

.portal-window {
  position: fixed;
  z-index: 1030;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #0e0700;
  background: rgba(22, 22, 29, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Portal Content/Box */
.portal-window-content {
  color: #f7f7f7;
  margin: auto;
  border-radius: 20px;
  width: 35%;
}

.portal-window-content .modal-section {
  background: #17151e;
  padding: 10px 10px 25px;
  border-radius: 20px;
  border: 1px solid #44403c;
}

.modal-section .modal-wrapper {
  padding: 10px 20px 10px;
}
